/* :root {
    --dark-blue-color: rgb(28, 2, 119);
    --blue-color: rgb(33, 3, 144);
    --lighter-blue-color: rgb(55, 5, 237);
    --white-color: rgb(255, 255, 255);
    --grey-color: rgb(128, 128, 128);
  } */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
footer {
    background-color: rgb(28, 2, 119);
    width: 100%;
    max-width: 102.4rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .foot {
    color: white;
    font-size: 1.4rem;
    letter-spacing: .6px;
    line-height: 143%;
    padding: 2rem;
}
